.nav-bar{
    display: flex;
    height:128px;
    width:1400px;
    padding:40px 120px;
    justify-content:flex-end;
    gap:8px;
    
   
}
.navigation{
    display: flex;
    flex-direction: row;
    width:391px;
    height: 48px; 
    justify-content: center;
    align-items: center;
    gap:40px; 
}
.navigation div{
font-size: 20px;
}
.navigation button{
    
    border-radius: 30px;
    background-color:  #6E07F3; 
    font-size: 18px;
    padding:15px;
    color: white;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 120px;
    gap: 40px;
    width: 1440px;
    height: 436px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-text h1{
    width: 560px;
    height: 80px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #000000;
}
.hero-text p{


width: 648.47px;
height: 64px;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #696969;
}
.hero-text a{
width: 191px;
height: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #6E07F3;

}
hr{
    width:90%;
}

.project-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 120px;
    gap: 80px;

    width: 1440px;
    height: 1336px;
}
.project-section h1{
    width: 168px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: black
}
.row{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 90px;

width: 1200px;
height: 464px;

}
.rectangle{
    width: 576px;
    height: 360px;



}

.rectangle img{
width:100%;
height: 100%;
object-fit: cover;
border-radius: 24px;

}


.title{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 296px;
height: 80px;
    
}
.skills{
    width: 48px;
    height: 19px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;

}
.skillll{
    margin-right: 20px;
    border:2px solid black;
    border-radius: 20px;
    padding: 10px;
    
}
.profile-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 120px;
    gap: 160px;
    height: 605px;
    }
.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 142px;
    width: 1199.73px;
    height: 402px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3px 0px;
    width: 677.73px;
    height: 286px;
}
.about h2{
    width: 233px;
    height: 48px;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 2px;
}
.about>.one{
    width: 669.04px;
    height: 87px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #696969;
    margin-bottom: 2px;
}
.about>.two{
    width: 677.73px;
height: 87px;
font-weight: 400;
font-size: 18px;
line-height: 29px;
display: flex;
align-items: center;
color: #696969;

}
.profile-picture{
        width: 300px;
        height: 350px;
        
    }
.profile-picture img{
    width:100%;
height: 100%;
object-fit: cover;
border-radius:50%;

}
.profile-section>.frame2{
display: flex;
flex-direction: row;
align-items:center;
width: 1200px;
height: 73px;
margin-left: 170px;
margin-bottom: 100px;


}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 137px;
}

.footer{
    width: 1440px;
    height: 427px;
    padding: 160px 0px 100px;
    
}
.footer-frame1{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 36px 40px;
width: 1280px;
height: 70px;
margin-left: 50px;
margin-top: 70px;
background: #382A47;
box-shadow: 6px 5px 24px rgba(0, 0, 0, 0.12);
border-radius: 12px;
position: absolute;
top:3280px;
left:-2px;

}
.contact-text{
    width: 426px;
height: 70px;
font-size: 22px;
line-height: 44px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: -0.02em;
color: #FFFFFF;

}
.footer-frame1 button{
width: 130px;
height: 44px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
background-color:#382A47;
padding: 5px;
border-radius: 20px;
border-color: white;
color:white;
}


.footer-frame2{
display: flex;
flex-direction: column;
align-items: center;
padding: 160px 0px 100px;
margin-top: 40px;
gap: 32px;
z-index: -1;
width: 1440px;
height: 55px;
background: #6E07F3;

}

.footer-text{
width: 304px;
height: 24px;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: ;
color: #FFFFFF;
opacity: 0.8;

}
.year{
    color:white;
    
}
.socialmedia-icons{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.socialmedia-icons .icon{
    display: flex;
height:30px;
width:30px;
color:white;
 border: 1px solid white;
 border-radius: 50%;
}